/* GLOBAL */


button:hover {
    cursor:pointer;
}
input {
    border-radius: 25px;
}

/* NAV & FRONTPAGE */

.logo {
    color: darkred;
    font-family: Impact;
    font-size: 28px;
    font-weight: 100;
}
.top_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-style: ridge;
}
.menu {
    display: flex;
    justify-content: space-between;
    width:80%;
}
input[type=text] {
    padding: 7px;
    padding-right: 50px;
}
button[type=submit] {
    background: none;
    border: none;
    position: absolute;
    top: 28px;
    left: 666px;
}
.nav_buttons {
    width: 10%;
}
.top_nav input {
    border-block-style: groove;
}
.nav_buttons:hover {
    cursor: pointer;
}
.login_dropdown {
    position: absolute;
    display: none;
    border-radius: 4px;
    top: 35px;
}
.user_icon:hover .login_dropdown {
    display: inline-block;
    position:absolute;
    right: 80px;
    top: 42px;
    background-color: lightgray;
    border: ridge;
}
.fa-Circle-User {
    position: absolute;
    right: 120px;
}
.fa-Tv {
    position: absolute;
    right: 60px;
}
.frontpage{
    padding: 10px;
    text-align: center;    
}
.btn_front{
    display: flow;
}
.Image {
  padding: 50px;
  height: 750px;
  width: 750px;
}

/* LOGIN & REGISTER */
.header {
    position:relative;
    right:45%;
    left:45%;
}
.login, .register {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
}
.labels {
    
}
.boxes {
    padding-right: 230px;
}
label[type=text] {
    display: inline-block;
    text-align: left;
    padding-left: 510px;
    width: 100%;
    padding-top: 1px;
}
input[type=name], input[type=password] {
    width:100%;
    align-self: start;
    padding-top: 3px;
    padding-left: 5px;
}
button[type=reg], button[type=log] {
    position: absolute;
    right: 45%;
    left: 45%;
}

.moviePosters {
    width: 200px;
    height: 200px;
}

.movieslist, li {
    display: block;
    position: relative;
    left: 40%;
    inline-size: 400px;
    overflow: hidden;
    border-style: solid;
}

#AddToWatchListBtn {
    border-color: black;
    border-radius: 2%;
    margin-bottom: 5%;
    position: relative;
    top: -5px;
    left: 30%;

}

#streamingInfo {
    padding-right: 100px;
}